@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}
/*------------------------ header -----------------------------------------------*/
.container1{
  width: 100%;
  min-height: 100vh;
  padding-left: 2%;
  padding-right: -1rem;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-logo{
  /* position: absolute; */
  left: 0.7%;
  right: 88.67%;
  top: 0%;
  bottom: 6.68%;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color:#78A92D;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 22px;
  line-height: 24px;
  margin-right: 1rem
  ;
}
nav ul li a:hover{
  color:#333;
}





/*#################### our gallery ###############################*/


.gallery_head{
  /* margin-top: 2rem; */
  /* margin-left: 2rem; */
  font-weight: 400;
    font-size: 30px;
  color: #78A92D;
}


/* /* .head{
  margin-top: -2% ;
  margin-left: 2rem;
/* }  */


.txt_ord{
  /* left: 60rem; */
  /* margin-top: 28px !important; */
  margin-left: 10px;
}
.ord{
  /* margin-top: 30px; */
  border-radius: 20px;
  color: #FFFFFF;
  background-color: rgba(220, 15, 61, 1);
  border: 1px solid rgba(220, 15, 61, 1);
  z-index: 1;
  position: fixed;
width: 110px;
height: 38px;
left: 87rem;
top: 50%;
transform-origin: 0 0;
transform: rotate(90deg);
}

.img1{
  z-index: 1;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: fixed;
/* width: 70px; */
/* height: 226px; */
right: 8.5%;
top: 69%;

}

.img2{
  z-index: 1;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: fixed;
/* width: 70px; */
/* height: 226px; */
right: 8.5%;
top: 76%;

}

.img3{
  z-index: 1;
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position:fixed;
/* width: 70px; */
/* height: 226px; */
right: 8.5%;
top: 83%;

}




.head{
  color: rgba(120, 169, 45, 1);
  font-family: Pacifico;
  font-size: 64px;
  margin-top: 6%;
  /* margin-top: 30px !important; */
  /* text-align: center; */
  /* top: 50% !important; */
}



.heading_gallery{
  text-align: center;
  /* top: -20rem; */
  margin-left: 4rem;
  margin-top: -45rem;
  /* margin-bottom: 10rem; */
}


.box_gallery{
  z-index: -1;
  position: absolute;
width: 1228px;
height: 195vh;
left: 9rem;
top: 31%;
margin-bottom: 4rem;

background: #FFFFFF;
box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}


.grid-container{
  /* display: grid; */
  /* margin-bottom: 40px; */
  display: grid;
  grid: 20px;
  display: flex;
  flex-direction: row;
}

.set1{
  display: flex;
  flex-direction: column ;
  /* flex-direction: row; */
}


.set2{
  display: flex;
  flex-direction: column ;
}


.set3{
  display: flex;
  flex-direction: column ;
}




.imgg{
  /* position: fixed; */
  margin-left: 42px;
  margin-top: 50px;
  margin-right: 10px;
  width: 344px;
height: 285px;
border-radius: 18px;
}




/* ##############footer################################### */


.footer_back{
  /* display: flex; */
 background: url("https://cdn.discordapp.com/attachments/891025496601661504/964539628684185620/unknown.png") NO-REPEAT center ; 
  height: 637px;
  color: rgb(26, 2, 2);
  width: 1519px;
  background-size: cover;
  margin-top: 1762px;
  
  font-family: 'Ubuntu', sans-serif;
  
}

.footer_img{
position: absolute;
width: 1010px;
height: 494.69px;
left: 200.46px;
top: 1835px;

}

.asd{
position: absolute;
width: 99px;
height: 46px;
left: 51.46px;
top: 2300px;

font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 46px;
/* identical to box height */
color: #000000;



}
.qwe{
position: absolute;
width: 204px;
height: 122px;
left: 28.46px;
top: 2350px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
font-weight: 600;

color: #000000;

}
.niet{
position: absolute;
width: 126px;
height: 46px;
left: 370px;
top: 2300px;

font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 46px;
/* identical to box height */


color: black;
}



.txt1{
  /* top:20px !important; */
  display: flex;
  margin-top: -29px;
  margin-left: 36px;
}
.txt2{
  display: flex;
  margin-top: -33px;
  margin-left: 36px;

}
.txt3{
  display: flex;
  margin-top: -30px;
  margin-left: 36px;

}

.mes{
  display: flex;
}

.loc{
  /* top:90px !important; */
  /* margin-top: 30px; */
  display: flex;
  
  
}

.call{
  display: flex;
  

}
.nit{
  list-style: none;
position: absolute;
width: 343px;
height: 114px;
left: 330px;
top: 2355px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 38px;

color: #000000;

}
.nie{
position: absolute;
width: 75px;
height: 46px;
left: 830px;
top: 2300px;

font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 46px;
/* identical to box height */


color: #000000;

}
.ni{
  list-style: none;
position: absolute;
width: 169x;
height: 185px;
left: 800px;
top: 2355px;
font-size: 17px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
/* font-size: 15.4px; */
line-height: 24px;

color: #000000;

}

.rawat{
position: absolute;
width: 221px;
height: 54px;
left: 990.46px;
top: 2300px;
left: 1200px;
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #000000;


}
.nivesh{
position: absolute;
width: 329px;
height: 40px;
left: 1150px;
top: 2400px;

background: rgba(255, 255, 255, 0.4);
border-radius: 23px;
}
.rat{
position: absolute;
width: 60px;
height: 30px;
left: 260px;
top: 2550 px;
margin-top: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 105.58%;
/* identical to box height, or 17px */
border: 0px;
text-align: center;
border-radius: 23px;
color: #efe8e8;
background-color: #78a92d;

}
.harsh{
margin-top: 5px;
margin-left: 10px;
border: 0px;
background-color: transparent;
height: 30px;
width: 249px;
}

.devesh{
position: absolute;
left: 71.5rem;
right: 2.39%;
top: 2420px;
bottom: 2.97%;
height: 100px;

}
.mohit{
position: absolute;
width: 30vw;
height: 25px;
left: 44%;
top: 359%;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

/* .ui{
position: absolute;
width: 24px;
height: 24px;
left: 307.46px;
top: 20px;

} */

.rupee_{
/* position: absolute; */
position: absolute;
width: 82.58px;
height: 82.83px;
margin-left:790px;
/* background: url(.png); */
transform: rotate(-18.94deg);
top: 800px;
}

.rag{
display: flex;
}
.nive{
position: absolute;
width: 527px;
height: 323px;
left: 94px;
top: 1280px;

font-family: 'Poppins';
font-style: italic;
font-weight: 700;
font-size: 41px;
line-height: 158%;
/* or 65px */

text-align: center;
letter-spacing: 0.08em;

color: #78A92D;
}
.uty{
color: #000000;
}
.aryan{
position: absolute;
width: 554px;
height: 466px;
left: 750px;
top: 1300px;
}

/* .footer{
margin-top: 1000px;
} */
.offer_back{
position: absolute;
width: 595px;
height: 46px;
left: 15px;
top: -30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 158%;
/* or 51px */

text-align: center;
letter-spacing: 0.08em;

color: #CF2129;

}
.order_your{
position: absolute;
width: 617px;
height: 46px;
left: 450px;
top: 72px;


background: rgba(255, 255, 255, 0.35);
border-radius: 28px;
}












/*############### media query ######## */

@media  (max-width: 413px) {
  .head{
    margin-top: -50rem;
    font-size: 48px;
    /* top: -10%; */
    margin-left:20% !important;
    /* margin-bottom: 2rem; */
  }

  .box_gallery{
    margin-left: -7.7rem;
    width: 118vw;
    height: 630vh;
    margin-top: -8%;
    z-index: -1;
  }

  .grid-container{
    /* margin-left: 15px !important; */
    display: flex;
    flex-direction: column;
  }

  .imgg{
    margin-left: 24px;
    width: 107vw;
    height: 46vh;
  }

  .footer_img{
    display: none;
  }

  .Homians{
    margin-top: 110% !important;
    


  }
.asd{
  margin-top: 267rem;
  margin-left: -8vw;

}

.niet{
  margin-top: 279.9rem;
  margin-left: -22rem;
}


.nit{
  margin-top: 280rem;
  margin-left: -19.7rem;

}

.qwe{
  margin-top: 267rem !important;
  margin-left: 3vw;
  list-style:square;
}

.devesh{
  margin-top:249rem;
  margin-left: -107vw;


}

.mohit{
  margin-top: 245rem;
  margin-left: -8rem;
  width: 70vw;
  font-weight: 600;
  /* margin-left: 44%; */
}

  .footer_back{
    margin-top:363rem;
    width: 129.7vw;
    height: 134vh;
    /* top: 1050%; */
    

  }


  .nie{
    margin-top: 291.8rem;
    margin-left: -51rem;
  
  }
  .question{
    display: none;
  }

  .nivesh{
    display: none;
  }


  .ni{
    margin-top: 292rem;
    margin-left: -49rem;

  }
  .qwe{
    margin-top: 500px;
  }

  .ord{
    position: fixed;
    left: 33rem;
  }

  .img1{
    position: fixed;
    left: 31rem;
    top: 62%;
    /* z-index: 2; */

  }
  
  .img2{
    position: fixed;
    left: 31rem;
    top: 67%;
    /* z-index: -1; */
  }


  .img3{

    position: fixed;
    left: 31rem;
    top: 72%;
    /* z-index: -1; */
  }

}


@media  (max-width: 1024px){

  .head{
    margin-left: 34rem;
    /* left: 40%; */
  }

  .devesh{
    position: absolute;
    left: 111.49%;
    right: 2.39%;
    top: 2433px;
    bottom: 2.97%;
    height: 100px;
}

.mohit{
  left: 60%;
}
  



}

/* @media (min-width 1400){
  .heading_gallery{
    top: -20%;
    margin-top: -80%;
  }
  .head{
    margin-top: -400%;
  }
} */



@media only screen and (max-width:413px){

  nav ul{
    width: 100%;
    background: linear-gradient(#fcfffa,#c2f577);
    position:absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color:#333;
  }
  .menu-icon{
    margin-right: 1.5rem;
  display: block;
  }
  #menulist{
    overflow: hidden;
    transition: 0.5s;
  }
}